.contanier {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2 , max-content);
  gap: 10px;
  margin-top: 10px;
}
.contanier a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  color: white;
}
